html{
  display: flex;
  background:#263238;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.row {
  display: flex;
  padding: 40px;
}


.icon {
  padding: 50px;
  opacity: 50;
  width: 250px;
}

.actualbild {
  border-radius: 10px;
  opacity: 0.25;
  transition: opacity ease 1s;
}

.actualbild:hover {
  opacity: 1;
  transition: opacity ease 0.2s;
}
